/*base*/
@import "../base/base.css";
@import "../3rd-party/font-awesome.min.css";
@import "../base/layout.css";


/*components*/

/*Custom style below this comment*/

.logo {
    width: 3rem;
}

.main-title {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}


.main-description {
    font-size: 1.3rem;
    text-align: center;
}

footer.container {
    padding-top: 0;
}

.row.socials {
    display: flex;
    gap: 0.5em;
    border-bottom: 0.1px solid #fff;
    padding: 0.5em 0; 
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
}

.fa {
    height: 2.5em;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 5s;
}

.fa:hover {
    background-color: #fff;
    color: #03a9f3;
    transition: all 1s;
}