/*base*/
@import "../base/base.css";
@import "../base/layout.css";

/*3rd-party*/
/*components*/

/*Custom style below this comment*/

.logo {
    width: 50px;
}

.main-title {
    font-size: 70px;
    text-transform: uppercase;
}
@media (max-width: 700px) {
    .main-title{
        font-size:45px;
    }
}
.main-description {
    font-size: 20px;
}